body {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-container {
  display: flex;
  justify-content: center;
}

:root {
  --cell-background-color: green;
}

.cell {
  background-color: var(--cell-background-color);
  width: 5ex;
  height: 5ex;
  border: 1px solid #333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: transparent
}

.cell.revealed{
  color: white;
}

.hidden-content {
  visibility: hidden;
  color: var(--cell-background-color);
}
